@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@600&display=swap");
.App {
  text-align: center;
}

.sub_home {
  margin-block: 50px;
  color: #213a45;
}
.title-box {
  border: 5px solid rgb(243, 239, 239);
  position: relative;
  background-color: rgb(135, 143, 143, 0.5);
}
.title-home {
  font-family: "Sacramento", cursive;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 900;
  position: absolute;
  top: -1.5rem;
  left: 30px;
  margin-bottom: -2rem;
  letter-spacing: 8px;
}
.subTitle {
  position: absolute;
  top: 1rem;
  left: 30px;
  font-size: 3rem;
  font-weight: 900;
}

.box-btn {
  background-color: rgb(135, 143, 143, 0.5);
  border: 2px solid rgb(243, 239, 239);
  border-radius: 2px;
}
.box-btn:hover {
  background-color: rgb(94, 134, 156, 0.3);
  border: 2px solid rgb(135, 143, 143, 0.5);
}
.link-style {
  color: #fdfeff;
}
.link-style:hover {
  color: #3d6374;
}
.logo-font {
  font-family: "Cuprum", sans-serif;
}
.digit-color {
  color: red;
}

@media only screen and (max-width: 600px) {
  /* Product Page */
  .css-1osj8n2-MuiGrid-root {
    max-width: 100% !important
  }
  .css-mhc70k-MuiGrid-root>.MuiGrid-item {
    padding-left: 0 !important
  }
  .css-rg0fn8-MuiPaper-root {
    padding: 0 !important
  }
  .css-rg0fn8-MuiPaper-root img {
    width: 250px !important;
  }
  .css-1gdvtvx-MuiTypography-root {
    width: 300px !important
  }
  .css-19qjufr-MuiStack-root {
    flex-direction: column !important;
    row-gap: 20px;
  }
  .css-19qjufr-MuiStack-root>:not(style)+:not(style) {
    margin-left: 0 !important;
  }
  .css-mhc70k-MuiGrid-root {
    flex-direction: column !important;
  }
  .css-gj1fbr-MuiGrid-root {
    max-width: 400px !important;
  }

  /* Home */
  .css-7pupk0 {
    width: auto !important;
  }
  .css-d2znx6 {
    margin-bottom: 200px !important;
  }

  .css-vok43g-MuiGrid-root {
    max-width: none !important;
  }

  .css-10uzgma-MuiPaper-root {
    padding-left: 15px !important;
    padding-top: 0 !important;
    height: 250px !important;
  }

  .css-1q26e7s-MuiPaper-root {
    display: none;
  }

  .css-mhc70k-MuiGrid-root {
    margin-left: 0 !important;
  }

  .css-y3u3bw-MuiPaper-root {
    padding-bottom: 150px !important
  }

  /* Product */
  .css-1ixtr8b {
    width: 100% !important;
  }
  .css-1bv322q-MuiPaper-root-MuiCard-root {
    width: 350px !important;
  }

  .css-17p3wh3-MuiGrid-root {
    max-width: 100% !important;
  }

  .css-1o7apob-MuiGrid-root {
    max-width: 100% !important;
  }

  /* Cart */
  .css-1440cjd {
    width: 350px !important;
  }
} 